#chat-container {
    visibility: hidden;
}

#chat-auth {
    position: absolute;
    left: 35%;
    top: 20%;
    visibility: hidden;
}

.chat {
    width: 80%;
    height: 80%;
    position: absolute;
    outline: 1px solid;
    left: 2%;
    top: 2%;
    bottom: 150px;
    overflow-y: scroll;
}

#chat-input {
    position: fixed;
    bottom: 0;
    width: 88%;
    height: 50px;
    background-color: rgba(182, 176, 232, 0.86);
}

.chat-send-btn {
    position: fixed;
    bottom: 0;
    width: 150px;
    height: 50px;
    right: 0;
    background-color: rgba(182, 176, 232, 0.86);
}

#map {
    position: absolute;
    left: 0;
    width: 68%;
    height: 100%;
}

#online-users {
    left: 85%;
    width: 12%;
    outline: 2px solid;
}

ul {
    list-style-type: none;
}